<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <script src="{{url_for( 'static',filename='js/main.js' )}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


</head>


<!-- onload, update the truck factor info text-->

<body onload="update_truck_factor_info(0)">
    <div class="">
        <div class="container">

            <!-- Navbar start -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar8">
    </button>
                    <div class="collapse navbar-collapse" id="navbar8" style="display: flex; justify-content: center;">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
                        </ul>
                        <p class="text-primary d-none d-md-block lead mb-0"> <b> Github Collaboration Dashboard</b>&nbsp;</p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link" href="#">{{repository_info.full_name}}</a> </li>
                        </ul>
                    </div>
                </div>
                <!-- Navbar end-->
            </nav>


            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">
              <i class="d-block fa fa-lg fa-info"></i>
            </button>
                </li>



                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="chart-tab" data-bs-toggle="tab" data-bs-target="#chart" type="button" role="tab" aria-controls="chart" aria-selected="false">
              <i class="d-block fa fa-lg fa-area-chart"></i>
            </button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">

                <!-- info tab start -->
                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">

                    <div class="">
                        <div class="container">
                            <!-- row start -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="">
                                                <br><b>Repository Description:</b><br>{{repository_info.description}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row-->
                            </div>



                            <div class="row">
                                <div class="col-md-6">
                                    <p class="">
                                        <img src="{{repository_info.owner.avatar_url}}" width="100" height="100"><br>
                                        <b>{{repository_info.full_name}}</b>
                                        <li>Number of stars: {{repository_info.stargazers_count}}</li>
                                        <li>Number of watchers: {{repository_info.watchers}}</li>
                                        <li>Number of issues: {{repository_info.open_issues_count}}</li>
                                        <li>Number of forks: {{repository_info.forks_count}}</li>
                                        <li>Number of commits: {{repository_info.number_of_commits}}</li>
                                        <li>Number of open issues: {{repository_info.open_issues}}</li>
                                        <li>Number of close issues: {{repository_info.closed_issues}}</li>
                                    </p>
                                    <!-- end row-->
                                </div>

                                <div class="col-md-6">
                                    <p id="truckFactorChart">

                                        <script>
                                            function calculate_truck_factor() {
                                                window.dispatchEvent(new Event('resize')); // after the render is done, send a resize event

                                                let truckFactorChartSelector = document.querySelector("#truckFactorChart");
                                                truckFactorChartSelector.textContent = ""; // clear the div before rendering the chart

                                                let force = "false";
                                                if ($('#flexCheckDefault').is(':checked')) {
                                                    force = "true";
                                                }
                                                let result;
                                                let contributors;

                                                let type = $('.truck-factor-selector').val(); // get the currently selected option
                                                let repository_name = "{{repository_info.full_name}}";




                                                fetch(`${window.location.protocol}//${window.location.host}/api/calculate_truck_factor?t=${type}&r=${repository_name}&force=${force}`)
                                                    .then(function(response) {
                                                        return response.json();
                                                    })
                                                    .then(function(truckFactorJsonResponse) {

                                                        result = truckFactorJsonResponse;

                                                        fetch(`${window.location.protocol}//${window.location.host}/api/get_number_of_contributors?r=${repository_name}`)
                                                            .then(function(response) {
                                                                return response.json();
                                                            })
                                                            .then(function(contributorsJsonResponse) {
                                                                contributors = contributorsJsonResponse;

                                                                console.log(`contributors: ${contributors}`);
                                                                console.log(`contributors.number_of_contributers: ${contributors.number_of_contributers}`);

                                                                contributors = contributorsJsonResponse;
                                                                console.log(result);
                                                                console.log(`result.users.length: ${result.users.length}`);
                                                                console.log(`result.truck_factor: ${result.truck_factor}`);
                                                                let myArr = new Array();
                                                                myArr.push(contributors.number_of_contributers - result.truck_factor);
                                                                myArr.push(result.truck_factor);
                                                                console.log(myArr);
                                                                console.log(contributors.number_of_contributers, result.truck_factor);
                                                                var options = {
                                                                    // pie chart using number of contributers to the repository and the ones that form the truck factor
                                                                    series: myArr,

                                                                    chart: {
                                                                        type: 'pie',
                                                                        width: '600px',
                                                                    },
                                                                    labels: ["Remaining number of contributers", "Contributers that forms the Truck Factor"],
                                                                };

                                                                console.log(options);
                                                                let tfParagraph = document.querySelector("#truckFactorDevelopersParagraphId");
                                                                tfParagraph.textContent = "";
                                                                let i;
                                                                let user;
                                                                for (i = 0; i < result.users.length; i++) {
                                                                    user = result.users[i];
                                                                    let paragraph = document.createElement("li");
                                                                    paragraph.innerHTML = `${user}`;
                                                                    tfParagraph.appendChild(paragraph);
                                                                }

                                                                var truckFactorChart = new ApexCharts(truckFactorChartSelector, options);
                                                                truckFactorChart.render();

                                                                window.dispatchEvent(new Event('resize')); // after the render is done, send a resize event

                                                                // do something with jsonResponse
                                                            });
                                                    });

                                            }
                                        </script>
                                    </p>
                                </div>
                            </div>


                            <!-- row start -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <br>
                                        <button type="button" class="btn btn-primary" id="truckFactorCalculateButton" onclick=calculate_truck_factor()>Calculate Truck Factor<br></button>
                                        <select class="truck-factor-selector" onchange="update_truck_factor_info(this.selectedIndex);">
                                            <option value="commit">Commit based truck factor</option>
                                            <option value="heuristic">Heuristic based truck factor</option>
                                            <option value="blame">Blame based truck factor</option>
                                          </select>



                                    </div>
                                </div>


                                <!-- end row -->
                            </div>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Force re-calculating of truck factor
                            </label>

                            <!-- row start -->
                            <!-- truck factor related information-->
                            <div class="row">
                                <div class="col-md-12">
                                    <br>
                                    <hr></hr>
                                    <p>
                                        Information about the current variant:
                                    </p>
                                    <p class="text-monospace" id="currentVariantParagraphId"><br></p>

                                    <p>

                                        <hr></hr>


                                        Users that form the truck factor:
                                    </p>

                                    <ol id="truckFactorDevelopersParagraphId">
                                        <!-- this is a list -->
                                    </ol>
                                </div>
                                <!-- end row-->
                            </div>





                        </div>
                    </div>
                    <!-- end info tab -->
                </div>

                <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">

                    <div class="container">

                        <!--

                        <div id="issueChart" class="row">
                            <script>
                                let repository_name = "{{repository_info.full_name}}";
                                fetch(`${window.location.protocol}//${window.location.host}/api/get_issues?r=${repository_name}`)
                                    .then(function(response) {
                                        return response.json();
                                    })
                                    .then(function(jsonResponse) {
                                        result = jsonResponse;
                                        //console.log(result);
                                        var options = {
                                            series: [result.open_issues, result.closed_issues],
                                            chart: {
                                                type: 'pie',
                                                width: '400px',
                                            },
                                            labels: ["open issues", "closed issues"],
                                        };
                                        let issueChartSelector = document.querySelector("#issueChart");
                                        var issueChart = new ApexCharts(issueChartSelector, options);
                                        issueChart.render();
                                        window.dispatchEvent(new Event('resize')); // after the render is done, send a resize event
                                    });
                            </script>
                        </div>
                        -->

                        <div id="commitDistributionChart" class="row">

                            <script>
                                let repository_name = "{{repository_info.full_name}}";

                                fetch(`${window.location.protocol}//${window.location.host}/api/get_commit_distribution?r=${repository_name}`)
                                    .then(function(response) {
                                        return response.json();
                                    })
                                    .then(function(jsonResponse) {
                                        result = jsonResponse;
                                        console.log(result);
                                        let contributions = new Array();
                                        let usernames = new Array();

                                        for (let i = 0; i < result.length; i++) {
                                            contributions.push(result[i].contributions);
                                            usernames.push(result[i].login);
                                        }
                                        //console.log(`Contributions: ${contributions}`);
                                        //console.log(`Usernames: ${usernames}`);



                                        var options = {
                                            series: [{
                                                data: contributions
                                            }],
                                            chart: {
                                                type: 'bar',
                                                height: 350
                                            },
                                            dataLabels: {
                                                enabled: false
                                            },
                                            xaxis: {
                                                categories: usernames,
                                            },
                                            yaxis: {
                                                title: {
                                                    text: 'Number of commits'
                                                }
                                            },
                                        };

                                        let commitDistributionChartSelector = document.querySelector("#commitDistributionChart");
                                        var commitDistributionChart = new ApexCharts(commitDistributionChartSelector, options);
                                        commitDistributionChart.render();
                                        window.dispatchEvent(new Event('resize')); // after the render is done, send a resize event
                                    });
                            </script>
                        </div>
                        <div id="commitDistributionPieChart" class="row">
                            <script>
                                fetch(`http://${window.location.host}/api/get_commit_distribution?r=${repository_name}`)
                                    .then(function(response) {
                                        return response.json();
                                    })
                                    .then(function(jsonResponse) {
                                        resultPie = jsonResponse;
                                        let contributions = new Array();
                                        let usernames = new Array();

                                        for (let i = 0; i < resultPie.length; i++) {
                                            contributions.push(result[i].contributions);
                                            usernames.push(result[i].login);

                                        }
                                        console.log(`Contributions_forPieChart: ${contributions}`);
                                        console.log(`Usernames: ${usernames}`);


                                        var options = {
                                            series: contributions,
                                            chart: {
                                                type: 'pie',
                                                width: '600px',
                                            },
                                            labels: usernames,
                                        };
                                        let commitDistributionChartSelectorPieChart = document.querySelector("#commitDistributionPieChart");
                                        var commitDistributionPieChart = new ApexCharts(commitDistributionChartSelectorPieChart, options);
                                        commitDistributionPieChart.render();




                                    });
                            </script>

                        </div>


                        <!-- end container -->
                    </div>


                    <!-- end tab pane-->
                </div>

            </div>

        </div>
    </div>
    <script>
        $("#myTab").on('shown.bs.tab', function(e) { // tabs on bootstrap emit shown event

            window.dispatchEvent(new Event('resize'));
            // on tab change, we need to send a resize event or, gracefully, the charts won't render
        });

        /*
        click emits the event immediately however we should be waiting for fetch to be finished
        
        $("#truckFactorCalculateButton").on('click', function(e) { // if we click on the calculate button, 
            console.log("Clicked on the truckFactorCalculateButton")
            window.dispatchEvent(new Event('resize')); // send a resize event
        });
    */

        // . is class
        // # is id
        /* 
hide.bs.tab is emitted on the currently active tab when we hide it.
show.bs.tab is emitted on the to be shown tab when we click on it.
hidden.bs.tab is emitted on the previous active tab is we hid that tab
    */
    </script>




</body>

</html>